@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Euclid Circular A";
  src: url("assets/fonts/EuclidCircularA-Bold.eot");
  src: local("Euclid Circular A Bold"), local("EuclidCircularA-Bold"),
    url("assets/fonts/EuclidCircularA-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/EuclidCircularA-Bold.woff2") format("woff2"),
    url("assets/fonts/EuclidCircularA-Bold.woff") format("woff"),
    url("assets/fonts/EuclidCircularA-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("assets/fonts/EuclidCircularA-Light.eot");
  src: local("Euclid Circular A Light"), local("EuclidCircularA-Light"),
    url("assets/fonts/EuclidCircularA-Light.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/EuclidCircularA-Light.woff2") format("woff2"),
    url("assets/fonts/EuclidCircularA-Light.woff") format("woff"),
    url("assets/fonts/EuclidCircularA-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("assets/fonts/EuclidCircularA-BoldItalic.eot");
  src: local("Euclid Circular A Bold Italic"),
    local("EuclidCircularA-BoldItalic"),
    url("assets/fonts/EuclidCircularA-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/EuclidCircularA-BoldItalic.woff2") format("woff2"),
    url("assets/fonts/EuclidCircularA-BoldItalic.woff") format("woff"),
    url("assets/fonts/EuclidCircularA-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("EuclidCircularA-LightItalic.eot");
  src: local("Euclid Circular A Light Italic"),
    local("EuclidCircularA-LightItalic"),
    url("assets/fonts/EuclidCircularA-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/EuclidCircularA-LightItalic.woff2") format("woff2"),
    url("assets/fonts/EuclidCircularA-LightItalic.woff") format("woff"),
    url("assets/fonts/EuclidCircularA-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("assets/fonts/EuclidCircularA-Regular.eot");
  src: local("Euclid Circular A Regular"), local("EuclidCircularA-Regular"),
    url("assets/fonts/EuclidCircularA-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/EuclidCircularA-Regular.woff2") format("woff2"),
    url("assets/fonts/EuclidCircularA-Regular.woff") format("woff"),
    url("assets/fonts/EuclidCircularA-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("assets/fonts/EuclidCircularA-SemiBold.eot");
  src: local("Euclid Circular A SemiBold"), local("EuclidCircularA-SemiBold"),
    url("assets/fonts/EuclidCircularA-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/EuclidCircularA-SemiBold.woff2") format("woff2"),
    url("assets/fonts/EuclidCircularA-SemiBold.woff") format("woff"),
    url("assets/fonts/EuclidCircularA-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("assets/fonts/EuclidCircularA-Medium.eot");
  src: local("Euclid Circular A Medium"), local("EuclidCircularA-Medium"),
    url("assets/fonts/EuclidCircularA-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/EuclidCircularA-Medium.woff2") format("woff2"),
    url("assets/fonts/EuclidCircularA-Medium.woff") format("woff"),
    url("assets/fonts/EuclidCircularA-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("assets/fonts/EuclidCircularA-Italic.eot");
  src: local("Euclid Circular A Italic"), local("EuclidCircularA-Italic"),
    url("assets/fonts/EuclidCircularA-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/EuclidCircularA-Italic.woff2") format("woff2"),
    url("assets/fonts/EuclidCircularA-Italic.woff") format("woff"),
    url("assets/fonts/EuclidCircularA-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("assets/fonts/EuclidCircularA-SemiBoldItalic.eot");
  src: local("Euclid Circular A SemiBold Italic"),
    local("EuclidCircularA-SemiBoldItalic"),
    url("assets/fonts/EuclidCircularA-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/EuclidCircularA-SemiBoldItalic.woff2") format("woff2"),
    url("assets/fonts/EuclidCircularA-SemiBoldItalic.woff") format("woff"),
    url("assets/fonts/EuclidCircularA-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("EuclidCircularA-MediumItalic.eot");
  src: local("Euclid Circular A Medium Italic"),
    local("EuclidCircularA-MediumItalic"),
    url("assets/fonts/EuclidCircularA-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/EuclidCircularA-MediumItalic.woff2") format("woff2"),
    url("assets/fonts/EuclidCircularA-MediumItalic.woff") format("woff"),
    url("assets/fonts/EuclidCircularA-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
